$accent-color: rgba(234, 19, 99, 1);
$font-stack-header: Crimson text;
$font-stack-body: Titillium Web;

.grid_container {
    position: relative;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    top:-8px;
    left: -8px;
    margin:collapse;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 20px auto auto auto 20px 100px;
    gap: 5px 5px;
    grid-template-areas: 
    "header header header header header header header header header"
    "bar bar bar bar bar bar bar bar bar"
    ". content content content content content content content . "
    ". content content content content content content content . "
    ". content content content content content content content . "
    "bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2"
    "footer footer footer footer footer footer footer footer footer";
    font-family: $font-stack-body;
    font-size: 1.3em;
    font-weight: bolder;
   
}

.header {
    grid-area: header;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: $font-stack-header;
    font-size: 2em;
    font-weight: normal;    
}

.footer {
    grid-area: footer; 
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: $font-stack-header;
    font-size: 1em;
    font-weight: normal; 
}

.content {
    grid-area: content;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(70px, auto) auto auto auto auto auto auto;
    align-items: center;
    
}

#about{
    grid-row: 1/3;
    grid-column: 1/4;
    text-align: center;
    
   
}

#portfolio{
   
    grid-column: 1/4;
    text-align: center;
    border: 1px solid grey;
    color: $accent-color;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

#portfolio_content{
        display: grid;  
        position: relative;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        justify-items: center;
        gap: 10px;
        text-align: center;
    }
    



#music{
    
    grid-column: 1/4;
    text-align: center;
    border: 1px solid grey;
    color: $accent-color;
}

#music_content{
        display: grid;  
        position: relative;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
        justify-items: center;
        gap: 10px;
        text-align: center;

}
#cv{
   
    grid-column: 1/4;
    text-align: center;
    border: 1px solid grey;
    color: $accent-color;
}

#cv_content{
    display: grid;  
    position: relative;
    grid-row: 8;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    justify-items: center;
    gap: 10px;
    text-align: center;

}

img {
    width: 320px;
}
#empty_border {

    width: 320px;
    height: 174.750px;
    border: 1px solid $accent-color;
    margin: 1px;
}


.bar {
    grid-area: bar;
    background-color: $accent-color;
    
}

.bar2{
    grid-area: bar2;
    background-color: $accent-color;
}

#portfolio:hover,
#music:hover,
#cv:hover {
    color: rgb(248, 147, 164);
    cursor: pointer;
}