.dark .body {
  background-color: black;
  color: #eee3e3; }

.dark .grid_container {
  position: relative;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  top: -8px;
  left: -8px;
  margin: collapse;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 20px auto auto auto 20px 100px;
  gap: 5px 5px;
  grid-template-areas: "header header header header header header header header header" "bar bar bar bar bar bar bar bar bar" ". content content content content content content content . " ". content content content content content content content . " ". content content content content content content content . " "bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2" "footer footer footer footer footer footer footer footer footer";
  font-family: Titillium Web;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: black;
  color: #eee3e3; }

.dark .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  font-family: Crimson text;
  font-size: 2em;
  font-weight: normal; }

.dark p#title {
  justify-self: center;
  grid-column: 3/4; }

.dark select#theme {
  color: white;
  grid-column: 5/6;
  align-self: center;
  justify-self: end;
  margin: 5px;
  padding: 5px;
  display: block;
  font-family: Titillium Web;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  max-width: 50%;
  height: 25%;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: bolder;
  border: transparent;
  background-color: #535353; }

.dark select#theme:hover {
  cursor: pointer;
  color: #f893a4; }

.dark select#theme:focus {
  outline: none; }

.dark select#theme::-ms-expand {
  display: none; }

.dark option {
  font-family: Titillium Web;
  font-size: 0.9rem;
  background-color: #535353; }

.dark option#dark {
  color: black; }

.dark .footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Crimson text;
  font-size: 1em;
  font-weight: normal; }

.dark .content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px auto auto auto auto auto auto;
  align-items: center;
  row-gap: 5px; }

.dark div#sidebar {
  display: none; }

.dark #about {
  grid-row: 1/3;
  grid-column: 1/4;
  text-align: center;
  margin: 20px 0px 20px; }

.dark #portfolio {
  margin: 0px 0px 5px;
  background-color: #535353;
  padding: 0;
  grid-column: 1/4;
  text-align: center;
  /*border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: white; }

.dark #portfolio_content.open {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #portfolio_content.close {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #portfolio_content {
  display: none; }

.dark #music {
  grid-column: 1/4;
  text-align: center;
  /* border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: white;
  background-color: #535353; }

.dark #music_content.open {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #music_content.close {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #music_content {
  display: none; }

.dark #cv {
  grid-column: 1/4;
  text-align: center;
  /*border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: white;
  background-color: #535353; }

.dark #cv_content.open {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #cv_content.close {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.dark #cv_content {
  display: none; }

.dark img {
  max-width: 100%; }

.dark .logos {
  max-width: 30px;
  margin: 10px;
  color: white; }

.dark iframe {
  max-width: 100%; }

.dark .bar {
  grid-area: bar;
  background-color: black; }

.dark .bar2 {
  grid-area: bar2;
  background-color: black; }

.dark a {
  color: white; }

.dark #portfolio:hover,
.dark #music:hover,
.dark #cv:hover,
.dark a:hover {
  color: #f893a4;
  cursor: pointer; }

@-webkit-keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@-moz-keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@-webkit-keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@-moz-keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@media only screen and (max-width: 600px) {
  .dark .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 10px 1fr 1fr 1fr 10px 0.2fr;
    gap: 5px 5px;
    grid-template-areas: "header header header header header" "bar bar bar bar bar" "content content content content content " "content content content content content " "content content content content content " "bar2 bar2 bar2 bar2 bar2";
    font-size: 1em; }
  .dark .header {
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    font-size: 1.3em; }
  .dark p#title {
    grid-column: 2/3; }
  .dark select#theme {
    grid-column: 3/4;
    max-width: 50%;
    height: 30%;
    font-size: 0.8rem;
    align-self: center;
    padding: 0px;
    color: white; }
  .dark .footer {
    display: none; }
  .dark .content {
    grid-template-columns: 80px 1fr 1fr 1fr;
    grid-template-rows: 190px auto auto auto auto auto auto;
    align-items: start;
    justify-items: start;
    padding: 5px; }
  .dark #about {
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
    margin-top: 10px; }
  .dark #portfolio {
    width: 100%;
    height: 100%;
    align-self: start;
    text-align: start;
    grid-column: 1/2;
    grid-row: 2/3;
    border: transparent;
    color: white;
    background-color: #faebeb;
    display: none; }
  .dark #portfolio_content.open {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #portfolio_content.close {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #portfolio_content {
    display: none; }
  .dark #music {
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    border: transparent;
    display: none; }
  .dark #music_content.open {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #music_content.close {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #music_content {
    display: none; }
  .dark #cv {
    align-self: end;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    border: transparent;
    display: none; }
  .dark #cv_content.open {
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #cv_content.close {
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .dark #cv_content {
    display: none; }
  .dark div#sidebar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: 4 / 1 / 8 / 2;
    align-content: start;
    padding-left: 5px;
    background-color: #535353;
    color: white;
    bottom: 0px;
    z-index: 0; }
  .dark #portfolio_mobile:hover,
  .dark #music_mobile:hover,
  .dark #cv_mobile:hover {
    color: #f893a4;
    cursor: pointer; }
  .dark img {
    max-width: 100%; }
  .dark .logos {
    max-width: 30px;
    margin: 10px;
    color: white; }
  .dark iframe {
    max-width: 100%; } }

.light .body {
  background-color: white;
  color: black; }

.light .grid_container {
  position: relative;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  top: -8px;
  left: -8px;
  margin: collapse;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 20px auto auto auto 20px 100px;
  gap: 5px 5px;
  grid-template-areas: "header header header header header header header header header" "bar bar bar bar bar bar bar bar bar" ". content content content content content content content . " ". content content content content content content content . " ". content content content content content content content . " "bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2 bar2" "footer footer footer footer footer footer footer footer footer";
  font-family: Titillium Web;
  font-size: 1.1em;
  font-weight: bolder;
  background-color: white;
  color: black; }

.light .header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-content: center;
  font-family: Crimson text;
  font-size: 2em;
  font-weight: normal; }

.light p#title {
  justify-self: center;
  grid-column: 3/4; }

.light select#theme {
  color: #ea1363;
  grid-column: 5/6;
  align-self: center;
  justify-self: end;
  margin: 5px;
  padding: 5px;
  display: block;
  font-family: Titillium Web;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  max-width: 50%;
  height: 25%;
  box-sizing: border-box;
  font-size: 0.9rem;
  font-weight: bolder;
  border: transparent;
  background-color: #bdf5bd; }

.light select#theme:hover {
  cursor: pointer;
  color: #f893a4; }

.light select#theme:focus {
  outline: none; }

.light select#theme::-ms-expand {
  display: none; }

.light option {
  font-family: Titillium Web;
  font-size: 0.9rem;
  background-color: grey; }

.light option#dark {
  color: black; }

.light .footer {
  grid-area: footer;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Crimson text;
  font-size: 1em;
  font-weight: normal; }

.light .content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px auto auto auto auto auto auto;
  align-items: center;
  row-gap: 5px; }

.light div#sidebar {
  display: none; }

.light #about {
  grid-row: 1/3;
  grid-column: 1/4;
  text-align: center;
  margin: 20px 0px 20px; }

.light #portfolio {
  margin: 0px 0px 5px;
  background-color: #bdf5bd;
  padding: 0;
  grid-column: 1/4;
  text-align: center;
  /*border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: #ea1363; }

.light #portfolio_content.open {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #portfolio_content.close {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #portfolio_content {
  display: none; }

.light #music {
  grid-column: 1/4;
  text-align: center;
  /* border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: #ea1363;
  background-color: #bdf5bd; }

.light #music_content.open {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #music_content.close {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #music_content {
  display: none; }

.light #cv {
  grid-column: 1/4;
  text-align: center;
  /*border: 1px solid map-get($map: $theme-map, $key:border-color);*/
  color: #ea1363;
  background-color: #bdf5bd; }

.light #cv_content.open {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: open 1s normal forwards ease-in-out;
  -moz-animation: open 1s normal forwards ease-in-out;
  animation: open 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #cv_content.close {
  display: grid;
  position: relative;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
  text-align: center;
  -webkit-animation: close 1s normal forwards ease-in-out;
  -moz-animation: close 1s normal forwards ease-in-out;
  animation: close 1s normal forwards ease-in-out;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

.light #cv_content {
  display: none; }

.light img {
  max-width: 100%; }

.light .logos {
  max-width: 30px;
  margin: 10px;
  color: #ea1363; }

.light iframe {
  max-width: 100%; }

.light .bar {
  grid-area: bar;
  background-color: #ea1363; }

.light .bar2 {
  grid-area: bar2;
  background-color: #ea1363; }

.light a {
  color: #ea1363; }

.light #portfolio:hover,
.light #music:hover,
.light #cv:hover,
.light a:hover {
  color: #f893a4;
  cursor: pointer; }

@-webkit-keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@-moz-keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@keyframes open {
  from {
    transform: scaleX(0);
    opacity: 0; }
  to {
    transform: scaleX(1);
    opacity: 1; } }

@-webkit-keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@-moz-keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@keyframes close {
  from {
    transform: scaleY(1);
    opacity: 1; }
  to {
    transform: scaleY(0);
    opacity: 0; } }

@media only screen and (max-width: 600px) {
  .light .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 10px 1fr 1fr 1fr 10px 0.2fr;
    gap: 5px 5px;
    grid-template-areas: "header header header header header" "bar bar bar bar bar" "content content content content content " "content content content content content " "content content content content content " "bar2 bar2 bar2 bar2 bar2";
    font-size: 1em; }
  .light .header {
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    font-size: 1.3em; }
  .light p#title {
    grid-column: 2/3; }
  .light select#theme {
    grid-column: 3/4;
    max-width: 50%;
    height: 30%;
    font-size: 0.8rem;
    align-self: center;
    padding: 0px;
    color: #ea1363; }
  .light .footer {
    display: none; }
  .light .content {
    grid-template-columns: 80px 1fr 1fr 1fr;
    grid-template-rows: 190px auto auto auto auto auto auto;
    align-items: start;
    justify-items: start;
    padding: 5px; }
  .light #about {
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
    margin-top: 10px; }
  .light #portfolio {
    width: 100%;
    height: 100%;
    align-self: start;
    text-align: start;
    grid-column: 1/2;
    grid-row: 2/3;
    border: transparent;
    color: #ea1363;
    background-color: #faebeb;
    display: none; }
  .light #portfolio_content.open {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #portfolio_content.close {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #portfolio_content {
    display: none; }
  .light #music {
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    border: transparent;
    display: none; }
  .light #music_content.open {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #music_content.close {
    margin-top: -15px;
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #music_content {
    display: none; }
  .light #cv {
    align-self: end;
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: start;
    border: transparent;
    display: none; }
  .light #cv_content.open {
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #cv_content.close {
    grid-column: 2/5;
    grid-row: 2;
    display: block; }
  .light #cv_content {
    display: none; }
  .light div#sidebar {
    width: 100%;
    height: 100%;
    display: grid;
    grid-area: 4 / 1 / 8 / 2;
    align-content: start;
    padding-left: 5px;
    background-color: #bdf5bd;
    color: #ea1363;
    bottom: 0px;
    z-index: 0; }
  .light #portfolio_mobile:hover,
  .light #music_mobile:hover,
  .light #cv_mobile:hover {
    color: #f893a4;
    cursor: pointer; }
  .light img {
    max-width: 100%; }
  .light .logos {
    max-width: 30px;
    margin: 10px;
    color: #ea1363; }
  .light iframe {
    max-width: 100%; } }

/*$accent-color: rgb(160, 153, 156);
    $border-color: rgb(236, 236, 236);
    $hover-color: rgb(248, 147, 164);

   
    $body-background:rgb(248, 147, 164);
    $body-color: rgb(238, 227, 227);
}

@mixin light {
    $accent-color: rgba(234, 19, 99, 1);
    $border-color: grey;
    $hover-color: rgb(248, 147, 164);

    $font-stack-header: Crimson text;
    $font-stack-body: Titillium Web;
    $body-background: white;
    $body-color: black;
}*/
