.grid_container {
  width: 100%;
  height: 100vh;
  display: grid;
  margin-top: 0;
  margin-bottom: 0;
  margin: collapse;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 0.15fr 1fr 1fr 1fr 0.15fr 0.5fr;
  gap: 5px 5px;
  grid-template-areas: "header header header header header header header" "bar bar bar bar bar bar bar" ". content content content content content . " ". content content content content content . " ". content content content content content . " "bar2 bar2 bar2 bar2 bar2 bar2 bar2" "footer footer footer footer footer footer footer";
  font-family: Titillium Web;
  font-size: 1.3em;
  font-weight: bolder; }

.header {
  grid-area: header;
  display: grid;
  justify-content: center;
  font-family: Crimson text;
  font-size: 2em;
  font-weight: normal; }

.footer {
  grid-area: footer; }

.content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  align-items: center; }

#about {
  grid-row: 1/3;
  grid-column: 1/4;
  text-align: center; }

#portfolio {
  grid-row: 3;
  grid-column: 1/4;
  text-align: center;
  border: 1px solid grey;
  color: #ea1363; }

#music {
  grid-row: 4;
  grid-column: 1/4;
  text-align: center;
  border: 1px solid grey;
  color: #ea1363; }

#cv {
  grid-row: 5;
  grid-column: 1/4;
  text-align: center;
  border: 1px solid grey;
  color: #ea1363; }

.bar {
  grid-area: bar;
  background-color: #ea1363; }

.bar2 {
  grid-area: bar2;
  background-color: #ea1363; }
